<footer class="footer">
	<div class="splash">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>

	<p>&copy; 2023 - TheAdage Production Hive</p>
</footer>
