x
<div class="404">
	<div>
		<!-- <img src="/images/nat.jpg" alt="" /> -->
		<div class="covertint">
			<h2>404 Error</h2>
			<p>The Page does not exist.</p>
			<a href="/">Home</a>
		</div>
	</div>
</div>
<%- include('./partials/footer.ejs') %>
