    
    <%- include('./partials/header.ejs') %>
        <main class="hero">
<!-- <img src="/images/pic.jpg" alt="" class="coverimg"> -->
<div class="coverimg"></div>
<div class="covertint" style="background:'radial-gradient(rgba(0,0,0,0.0), rgba(0,0,0,1)), linear-gradient(45deg, rgba(0, 128, 0, 0.4),rgba(165, 42, 42, 0.4))',"></div>		
  <div class="hero-content">
			<h1 id="landing-title">
				Calistous Juma Resource <br />and Innovation Hub
			</h1>
			<p id="landing-text">Your personalized learning platform.</p>
			     <a href="/signup" class="btnn">Get Started</a>
		</div>
        </div>
        <div class="selector">
           
                <div class="checker"></div> 
                <div class="checker"></div> 
                <div class="checker"></div> 
               
       
        </div>
        <!-- <div class="head">
        
        </div> -->
       
</main>
       
      <%- include('./partials/footer.ejs') %>