<%- include('./partials/header.ejs') %>
<form action="/students/add" , method="post">
	<h2>Add Student</h2>
	<label for="firstname">First Name</label>
	<input type="text" name="firstname" required />
	<label for="lastname">Last Name</label>
	<input type="text" name="lastname" required />

	Cohort:
	<select name="cohort">
		<option value="one">One</option>
		<option value="two">Two</option>
	</select>
	Gender:
	<select name="gender">
		<option value="male">Male</option>
		<option value="female">Female</option>
		<option value="other">Other</option>
	</select>

	<label for="DOB">Date of Birth</label>
	<input type="date" name="date" required />
	<label for="age">Age</label>
	<input type="number" name="age" required />
	<!-- <div class="email error"></div>
	<label for="password">Password</label>
	<input type="password" name="password" required />
	<div class="password error"></div> -->
	<div class="add">
		<input type="submit" value="Register Student" />
	</div>
</form>

<%- include('./partials/footer.ejs') %>
